<!-- 加载自定义字体 -->
{{ $customFonts := resources.Get "scss/custom-fonts.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ $customFonts.RelPermalink }}">

<!-- 添加内联样式确保字体优先级 -->
<style>
  * {
    font-family: 'LXGW WenKai', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  }
</style>

<!-- 添加字体预加载，提高加载速度 -->
<link rel="preload" href="{{ (resources.Get "font/LXGWWenKai-Regular.ttf").RelPermalink }}" as="font" type="font/ttf" crossorigin>

<!-- 确保字体加载 -->
<style>
  @font-face {
    font-family: 'LXGW WenKai';
    src: url('{{ (resources.Get "font/LXGWWenKai-Regular.ttf").RelPermalink }}') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
<!--<style>-->
<!--    .box{-->
<!--        width:100%;-->
<!--        display: flex;-->
<!--        flex-direction: row;-->
<!--        justify-content: center;-->
<!--        align-items: center;-->
<!--    }-->
<!--</style>-->
<!--<div class="box">-->
<!--    {{ if (default false .Site.Params.colorScheme.toggle) }}-->
<!--    <li id="dark-mode-toggle">-->
<!--        {{ partial "helper/icon" "toggle-left" }}-->
<!--        {{ partial "helper/icon" "toggle-right" }}-->
<!--        <span>{{ T "darkMode" }}</span>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--</div>-->


<!--<div>-->
<!--    {{ $val1 := 6 }}-->
<!--    <p>{{ $val1 }}</p>-->
<!--</div>-->
