<!--<style>-->
<!--    .box{-->
<!--        width:100%;-->
<!--        display: flex;-->
<!--        flex-direction: row;-->
<!--        justify-content: center;-->
<!--        align-items: center;-->
<!--    }-->
<!--</style>-->
<!--<div class="box">-->
<!--    {{ if (default false .Site.Params.colorScheme.toggle) }}-->
<!--    <li id="dark-mode-toggle">-->
<!--        {{ partial "helper/icon" "toggle-left" }}-->
<!--        {{ partial "helper/icon" "toggle-right" }}-->
<!--        <span>{{ T "darkMode" }}</span>-->
<!--    </li>-->
<!--    {{ end }}-->
<!--</div>-->


<!--<div>-->
<!--    {{ $val1 := 6 }}-->
<!--    <p>{{ $val1 }}</p>-->
<!--</div>-->
