/*
    You can add your own custom styles here.
*/

.article-content p{
  margin:0;
  margin-bottom: 10px;
  text-indent: 2em;
  letter-spacing: 1px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.chroma{
  padding:10px;
  border-radius: 4px;
}

a.link{
  background-color: #06b6d4;
  color: #fff;
  border-radius: 4px;
  padding: 2px;
  margin:0 4px;
}

a.link:hover{
  background-color: #22d3ee;
  color: #fff;
  border-radius: 4px;
  padding: 2px;
  box-shadow: none;
}

.site-avatar{
  transition: transform 0.5s linear;
}

.site-avatar:hover {
  transform: rotate(360deg);
  //transform: rotate(666turn);
  //transition-delay: 1s;
  //transition-property: all;
  //transition-duration: 59s;
  //transition-timing-function: cubic-bezier(.34,0,.84,1);
}
