/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

@import "theme";

$color: theme-color(dark, color);
$background-color: theme-color(dark, background-color);
$error-color: theme-color(dark, error-color);
$keyword-color: theme-color(dark, keyword-color);
$text-color: theme-color(dark, text-color);
$name-color: theme-color(dark, name-color);
$literal-color: theme-color(dark, literal-color);

@import "common.scss";
