/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

@import "theme";

$color: theme-color(light, color);
$background-color: theme-color(light, background-color);
$error-color: theme-color(light, error-color);
$keyword-color: theme-color(light, keyword-color);
$text-color: theme-color(light, text-color);
$name-color: theme-color(light, name-color);
$literal-color: theme-color(light, literal-color);

@import "common.scss";
